@{
    //ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1><b>Capstone Project Goals</b></h1>
<div>
    <ul><b>User Login</b>-Users will be able to log into their own profile, based on their training role.</ul>
    <ul>
        <b>Due Date</b>-Categories and topics will have due dates assigned to them to ensure that training is completed
        within a certain timeline.
    </ul>
    <ul>
        <b>Topic Time Stamp </b>-Once a topic is completed, a time stamp will show that the training has been completed,
        as well as the time and date it was completed.
    </ul>
</div>
<h1><b>Project Stretch Goals</b></h1>
<div>
    <ul>
        <b>Additional Training Materials</b>-Trainers and Administrators will be able to add addtional training materials, 
        such as attaching PDF files, links to websites, or videos. 
    </ul>
    <ul>
        <b>Custom Development Testing</b>-Administrators will be able to develop custom tests on topics and categories,
        including multiple choice or qualitative testing.
    </ul>
    <ul>
        <b>Training Due Date Alerts</b>-Automatically generates alerts for when assigned topics are nearing their
        due date.
    </ul>
    <ul>
        <b>Message System</b>-A messaging system within the website where questions can be sent and replied to allow
        enhancment of training information based questions that may arise.
    </ul>
</div>
