@model GTrain.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Register";
}
<h1>Account Registration</h1>

<form method="post" asp-controller="Login" asp-action="Register">
    <div asp-validation-summary="All"></div>
        <div>
            <b>Please Select Account Type</b> <select id="" name="">

                <option value="">Administrator</option>

                <option value="0">Trainer</option>

                <option value="1">Trainee</option>
            </select>
        </div>    
    <br />

    <div>
        <b><label asp-for="UserEmail"></label></b>
        <input asp-for="UserEmail" />
        <span asp-validation-for="UserEmail"></span>
    </div>
    <div>
        <b><label asp-for="Password"></label></b>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <b><label asp-for="ConfirmPassword"></label></b>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div><input type="submit" value="Register" /></div>
</form>
