@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to GoTrainer!</b></h1>
    <h2>GoTrainer is an innovative, interactive, and customizable training solution for small to mid-level businesses.</h2>

</div>
<?xml version="1.0" encoding="utf-8" ?>
<image>
    <filename>OfficeWork.jpg</filename>
    <description>It's Just That Simple!</description>
</image>

