
@{
    ViewData["Title"] = "Topics";
}

<h1>@ViewBag.title</h1>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <!--null reference error at 'ATforeach (var topic in ViewBag.topics)'-->
    @foreach (var topic in Model)
    {
        <tr>
            <td>@topic.Name</td>
            <td>@topic.Description</td>
        </tr>
    }
</table>
    @if (Model.Count == 0)
    {
        <p>No topics have been created yet!</p>
    }



<p><a asp-controller="Topic" asp-action="Add">Add Topic</a></p>
<p><a asp-controller="Topic" asp-action="Remove">Remove Topic</a></p>