
@model GTrain.ViewModels.AddCategoryItemViewModel
<form asp-controller="Category" asp-action="AddItem" method="post">

<h1>Add a Topic to a Category</h1>

<div class="form-group">
    <label asp-for="TopicID"></label> <!--'MenuID' was 'CheeseID'-->
<select asp-for="TopicID" asp-items="Model.Topics"></select>
<span asp-validation-for="TopicID"></span>
</div>

<input type="hidden" name="CategoryID" value="@Model.Category.ID" />

<input type="submit" value="Add Item" />

</form>