
<h1>View Category</h1>

@model GTrain.ViewModels.ViewCategoryViewModel

@{
    ViewBag.Title = "Model.Category.Name";
}

<ul>
    @foreach (var topicCategory in Model.Topics)
    {
        <li>@topicCategory.Topic.Name</li>
    }
</ul>

@if (Model.Topics.Count == 0)
{
    <p><i>No category topics yet. </i></p>
}
    <p><a asp-controller="Category" asp-action="AddItem" asp-route-id="@Model.Category.ID">Add Topic</a></p>