@model GTrain.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4"><b><u>User Login</u></b></h1>
    <h2>Please select which Login you will use depending on your role. </h2>
</div>
<form asp-controller="Login" asp-action="Index" method="get">

    <div class="text-center">
        <h1 style="background-color:red;">Administator Login</h1 style="background-color:red;">
        <p style="background-color:lightcoral;">
            <b><u>Administrators</u></b> have the ability to create, modify, and assign training
            topics and categories.
        <p><a asp-controller="Login" asp-action="Admin">Administrator Login</a></p>
    </div>
</form>
<!--<form asp-controller="Login" asp-action="Trainer" method="post">-->

<div class="text-center">
    <h1 style="background-color:darkorange;">Trainer Login</h1>
    <p style="background-color:orange;">
        <b><u>Trainers</u></b> are responsible for implementing the training for topics and
        categories while working directly with a Trainee.
    </p>
    <p><a asp-controller="Login" asp-action="Trainer">Trainer Login</a></p>

</div>
<!---</form>-->
<!-- <form asp-controller="Login" asp-action="Trainee" method="post">-->
<div class="text-center">
    <h1 style="background-color:dodgerblue;">Trainee Login</h1>
    <p style="background-color:lightskyblue;">
        <b><u>Trainees</u></b> are staff who are being
        trained on topics and categories by a Trainer.
    </p>
    <p><a asp-controller="Login" asp-action="Trainee">Trainee Login</a></p>

</div>
<!---</form>-->
